.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #555555;
}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  width: 371px; /* Set the overall width of the form */
}
@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid black;
    border-radius: 12px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 12px;
  border-color: #555555;
}

button {
  border: none;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 12px;
  color: #efefef;
  cursor: pointer;
}

.link-btn {
  background: none;
  color: #2c2c2c;
  text-decoration: underline;
}

.logo {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  color: #1e1e1e;
  position: absolute;
  top: 27.5px;
  left: 123px;
}

.google-login-btn {
  margin-top: 31px;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  font-size: 1rem;
}

.google-register-btn {
  margin-top: 50px;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  font-size: 1rem; /* Set the font size to 1rem */
}
.separator {
  font-weight: 800;
  color: #1e1e1e;
  margin-top: 18px;
  font-family: "Nunito", sans-serif;
  margin-bottom: 18px;
}

.auth-form-container h2 {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  color: #1e1e1e;
}

.auth-form-container h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #555555;
  font-size: 1rem;
}
.link-btn {
  background: none;
  color: #555555;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.875rem; /* 14px in rem */
}

.link-btn:hover {
  text-decoration: underline;
}

.google-login-btn svg,
.google-register-btn svg {
  margin-right: 5px;
  width: 27px;
  height: 27px;
}
.forgot-password {
  text-align: right;
  font-family: "Poppins", sans-serif;
  color: #555555;
  font-weight: 500;
  font-size: 0.875rem;
}

.login-form button[type="submit"],
.register-form button[type="submit"] {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}
